<main class="d-flex flex-column min-vh-100 bg-light">
  <div class="container d-flex flex-fill flex-column my-3">
    <div class="row flex-fill">
      <div class="col-lg-8 m-auto">
        <div class="card shadow p-3 my-3">
          <div class="card-body">
            <h1 class="card-title">StudentWise</h1>
            <p class="card-text">A solution aimed towards students living in shared accommodation.</p>
            <p class="card-text">It allows them to track events in the building, manage joint expenses, arrange agreements and much more.</p>
            <div class="mb-2">
              <a class="btn btn-primary mb-2 mr-2" href="https://drive.google.com/uc?export=download&id=1BJtxnYU0v0-Zk4Ff5VQsJp1gWKnY1z5v">
                <i class="fas fa-fw fa-download mr-2"></i>
                Download Now
              </a>
              <a class="btn btn-dark mb-2 mr-2" href="/docs/index.html">
                <i class="fas fa-fw fa-book mr-2"></i>
                Explore Documentation
              </a>
            </div>
            <a class="card-link" href="https://drive.google.com/drive/folders/1QGk0SXmVfro7mZXw3LmbsR-f0iRK_Bh_" target="_blank">
              View all available versions
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
